<!DOCTYPE html> 
<!-- layout.html -->

<!-- 
layout:decorate="~{layout/layout}"  란?
- 기본 레이아웃을 layout/layout.html 으로 선언
- 버전마다 선언방법이 다름 아래 참조.
- layout:decorate thymeleaf 3.* ver (이거 사용함)
- layout:decorator thymeleaf 2.* ver
 <th:block layout:fragment="content">
- 각 파일 마다, 위 코드 다음부터 작성한 내용들이 default_layout.html 의 content 부분에 위치함
-->
<html lang="ko" 
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout/layout}">
	<head>
        <meta charset="UTF-8"/>
        <style>
		.account-settings .user-profile {
			    margin: 0 0 1rem 0;
			    padding-bottom: 1rem;
			    text-align: center;
			}
			.account-settings .user-profile .user-avatar {
			    margin: 0 0 1rem 0;
			}
			.account-settings .user-profile .user-avatar img {
			    width: 90px;
			    height: 90px;
			    -webkit-border-radius: 100px;
			    -moz-border-radius: 100px;
			    border-radius: 100px;
			}
			.account-settings .user-profile h5.user-name {
			    margin: 0 0 0.5rem 0;
			}
			.account-settings .user-profile h6.user-email {
			    margin: 0;
			    font-size: 0.8rem;
			    font-weight: 400;
			    color: #9fa8b9;
			}
			.account-settings .about {
			    margin: 2rem 0 0 0;
			    text-align: center;
			}
			.account-settings .about h5 {
			    margin: 0 0 15px 0;
			    color: #007ae1;
			}
			.account-settings .about p {
			    font-size: 0.825rem;
			}
			.form-control {
			    border: 1px solid #cfd1d8;
			    -webkit-border-radius: 2px;
			    -moz-border-radius: 2px;
			    border-radius: 2px;
			    font-size: .825rem;
			    background: #ffffff;
			    color: #2e323c;
			}
			
			.card {
			    background: #ffffff;
			    -webkit-border-radius: 5px;
			    -moz-border-radius: 5px;
			    border-radius: 5px;
			    border: 0;
			    margin-bottom: 1rem;
			}
        </style>
	</head>      
	<th:block layout:fragment="content">
		<!-- Contact section-->
	    <section class="bg-light py-5"  th:if = "${memberInfo != null }">
	    	<form id="updateFrm" action="/member/updatePassword" method="POST">
				<div class="container">
					<div class="row gutters">
						<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
							<div class="card h-100">
								<div class="card-body">
									<div class="account-settings">
										<div class="user-profile">
											<div class="user-avatar">
												<img th:src="@{/images/carvroong2.png}" alt="Maxwell Admin">
											</div>
											<h5 class="user-name" th:text="${memberInfo.memberId}"></h5>
											<h6 class="user-email" th:text="${memberInfo.memberEmail}"></h6>
										</div>
										<!--
										<div class="about">
											<h5>About</h5>
											<p>I'm Pikachu. I hate Ash... Lol</p>
										</div>
										-->
									</div>
								</div>
							</div>
							</div>
							<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
							<div class="card h-100">
								<div class="card-body">
									<div class="row gutters">
										<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
											<h6 class="mb-2 text-primary">비밀번호 변경</h6>
										</div>
										
										<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
											<div class="form-group">
												<label for="memberPassword">현재 비밀번호</label>
												<input type="password" class="form-control" id="memberPassword" name="memberPassword"	placeholder="Enter Password">
											</div>
										</div>
										<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
											<div class="form-group">
												<label for="memberNewPassword">새로운 비밀번호</label>
												<input type="password" class="form-control" id="memberNewPassword" 	name="memberNewPassword"	placeholder="Enter New Password">
											</div>
										</div>
										<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
											<div class="form-group">
												<label for="memberNewPasswordConfirm">새로운 비밀번호확인</label>
												<input type="password" class="form-control" id="memberNewPasswordConfirm" name="memberNewPasswordConfirm"	placeholder="Enter New Confirm Password">
											</div>
										</div>
									</div>
									<br/>
									<div class="row gutters">
										<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
											<div class="text-right">
												<button type="button" id="btnMyPage"	class="btn btn-secondary">취소</button>
												<button type="button" id="btnUpdate" 	class="btn btn-primary">수정하기</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
	    </section>
		<script>
      		$(document).ready(function(){
      			$("#btnMyPage").click(function(){
      				location.href = "/member/myPage";
      			});
      		
         		$("#btnUpdate").click(function(){
	                //$.trim 이란? 인풋값의 공백을 제거해준다.
	                if($.trim($("#memberPassword").val()) == ""){
	                   Swal.fire({
	                      icon: "warning", // Alert 타입 
	                       title: "비밀번호를 입력해주세요.", // Alert 제목 
	                   });         
	                   return false;
	                }
	                if($.trim($("#memberNewPassword").val()) == ""){
	                   Swal.fire({
	                      icon: "warning", // Alert 타입 
	                       title: "새로운 비밀번호를 입력해주세요.", // Alert 제목 
	                   });         
	                   return false;
	                }
	                if($.trim($("#memberNewPasswordConfirm").val()) == ""){
	                   Swal.fire({
	                      icon: "warning", // Alert 타입 
	                       title: "새로운 비밀번호를 다시 입력해주세요.", // Alert 제목 
	                   });         
	                   return false;
	                }                
	                if($("#memberNewPassword").val() != $("#memberNewPasswordConfirm").val()){
	                   Swal.fire({
	                      icon: "warning", // Alert 타입 
	                       title: "새로 입력한 비밀번호가 틀립니다.", // Alert 제목 
	                   });         
	                   return false;
	                }
	                   
	                //비밀번호 유효성 검사
	                let result = chkPwd($("#memberNewPassword").val());
	                   
	                //리턴된 오류 메세지 출력
                   if(result){
	                   Swal.fire({
	                      icon: "warning", // Alert 타입 
	                       title: result, // Alert 제목 
	                   });         
	                   return false;                      
                   }
                   
	                $.post(
	                   "/member/pwChk"
	                  ,{
	                     memberPassword : $("#memberPassword").val()
	                  }
	                  , function(data){
	                     console.log('data');
	                     console.log(data);
	                     if(data != "success"){
	                         Swal.fire({
	                            icon: "warning", // Alert 타입 
	                             title: "현재 비밀번호가 틀립니다.", // Alert 제목 
	                         });                        
	                     }else{
                        	//서브밋하기전에 새로운 비밀번호 값을 memberPassword에 넣는다.
	                        $("#memberPassword").val($("#memberNewPassword").val());
	                     
    				    	Swal.fire({
				   				title: "비밀번호를 변경 하시겠습니까?",
						   		//text: '다시 되돌릴 수 없습니다. 신중하세요.',
						   		icon: 'warning',
						   		showCancelButton: true, // cancel버튼 보이기. 기본은 원래 없음
						   		confirmButtonColor: '#3085d6', // confrim 버튼 색깔 지정
						  		cancelButtonColor: '#d33', // cancel 버튼 색깔 지정
						  		confirmButtonText: '확인', // confirm 버튼 텍스트 지정
							   	cancelButtonText: '취소', // cancel 버튼 텍스트 지정
							}).then(function(result){
								if(result.isConfirmed == true){		
			                        $("#updateFrm").submit();
								}
							});		
	                     
	                     }
	                  }   
	                 );                      
	             });
	             
	          });
	          
	           /**------------------------------------------------------------------
	            * 비밀번호 유효성 검사
	            */        
	           function chkPwd(str){
	              
	                let result = "";
	             let pw = str; 
	             let num = pw.search(/[0-9]/g); 
	             let eng = pw.search(/[a-z]/ig); 
	             let spe = pw.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi);  
	              //8자리 ~ 20자리 이내로 입력해주세요.
	             if(pw.length < 8 || pw.length > 20){  
	                result = "8~20자리 이내로 입력해주세요.";
	             } 
	              //비밀번호는 공백업이 입력해주세요.
	             if(pw.search(/₩s/) != -1){  
	               result = "비밀번호는 공백없이 입력해주세요";
	              } 
	              //영문,숫자, 특수문자를 혼합하여 입력해주세요.
	             if(num < 0 || eng < 0 || spe < 0 ){  
	               result = "문자, 숫자, 특수문자를 혼합하여 입력해주세요.";
	             }  
	             return result;
	             
	           }
   		</script>
	</th:block>
</html>
