<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>findpassengerform</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
	crossorigin="anonymous">
</head>
<th:block layout:fragment="css"></th:block>
<th:block layout:fragment="script"></th:block>
<th:block layout:fragment="content">

	<body>
		<div class="container">
			<h2>FindPassenger게시판글쓰기</h2>
			<form action="#" th:action="@{/board/findpassengerform}"
				th:object="${board}" method="post">
				<!-- 같은 페이지에서 이동시 form action="#"을 사용함 -->
				<input type="hidden" id="boardnum" th:field="*{boardNo}">
			
				<div class="form-group">
					<label for="userid">글쓴이</label> 
					<input type="text" class="form-control" id="userid" th:field="*{memberId}" readonly>
				</div>
				<div class="form-group">
					<label for="title">제목</label> 
					<input type="text" class="form-control" id="title" th:field="*{boardTitle}">
				</div>
				<div class="form-group">
					<label for="startpoint">출발지</label>
					<input type="text" class="form-control" id="startpoint" th:field="*{boardStartpoint}">
					<label for="endpoint">도착지</label> 
					<input type="text" class="form-control" id="endpoint" th:field="*{boardEndpoint}">
				</div>

				<div class="projectView_deadlineDay">
					<label for="time" class="form-label">출발일시</label>
					<input type="datetime-local" class="form-control" id="startTime"
						th:field="*{boardStarttime}"
						min="${#calendars.format(#calendars.createNow(),'yyyy-MM-dd HH:mm'}">
				</div>

				<th:block>
					<div th:each="carInfo: ${carInfo}">
						<label for="cartype">차종</label> 
						<input type="text" class="form-control" id="cartype" th:field="${carInfo.carType}"> 
						<label for="maxseat">좌석인원</label> 
						<input type="text" class="form-control" id="maxseat" th:field="${carInfo.maxSeat}"> 
						<label for="caryear">년식</label>
						<input type="text" class="form-control" id="caryear" th:field="${carInfo.carYear}"> 
					</div>
				</th:block>
				<div class="form-group">
					<label for="content">내용</label>
					<textarea class="form-control" placeholder="글내용을 적어주십시오"
						id="contents" style="height: 100px" rows="3"
						th:field="*{boardContents}"></textarea>
				</div>

				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="text-right">
						<a type="button" th:href="@{/board/findpassengerlist}"
							class="btn btn-primary" id="btnPassengerBoardList">목록보기</a>&nbsp;
						<th:block th:if="${board.boardNo == null}">	
							<a type="button" th:href="@{/board/findpassengeform}"
							class="btn btn-primary" id="findPassengerSave">저장</a>&nbsp;
							
						</th:block>
						
						<th:block th:if="${session.loginInfo.memberId == board.memberId}">
							<a type="button" th:href="@{/board/findpassengerform}"
							class="btn btn-primary" id="btnPassengerBoardUpdate">수정</a>&nbsp;	
							<a type="button" th:href="@{/board/findpassengerdelete}"
							  class="btn btn-primary" id="findpassengerdelete">삭제</a>
						</th:block>
					</div>
				</div>
				
					
					

			</form>
		</div>
	</body>
</html>