<!DOCTYPE html> 
<!-- layout.html -->

<!-- 
layout:decorate="~{layout/layout}"  란?
- 기본 레이아웃을 layout/layout.html 으로 선언
- 버전마다 선언방법이 다름 아래 참조.
- layout:decorate thymeleaf 3.* ver (이거 사용함)
- layout:decorator thymeleaf 2.* ver
 <th:block layout:fragment="content">
- 각 파일 마다, 위 코드 다음부터 작성한 내용들이 default_layout.html 의 content 부분에 위치함
-->
<html lang="ko" 
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout/layout}">
	<head>
        <meta charset="UTF-8"/>
	</head>      
 	<!-- 해당 html페이지에서만 사용할 css, script  -->
 	<th:block layout:fragment="css"></th:block>  
 	<th:block layout:fragment="script"></th:block>
	<th:block layout:fragment="content">

	<!--시작 위로 복붙하세요. -->
	<div class="container">
		<h2>FindCar게시판글쓰기</h2>
		<form action="#" th:action="@{/board/form}" th:object="${board}" method="post">
			<!-- 같은 페이지에서 이동시 form action="#"을 사용함 -->
			<input type="hidden" th:field="*{boardNo}">
			<div class="form-group">
				<label for="userid">글쓴이</label>
				<input type="text" class="form-control" id="userid"  th:value="${board.memberId}" th:field="*{memberId}">
			</div>
			<div class="form-group">
				<label for="title">제목</label>
				<input type="text" class="form-control" id="title" th:field="*{boardTitle}">
			</div>



			<div class="form-group">
				<label for="startpoint">출발지</label>
				<input type="text" class="form-control" id="startpoint" th:field="*{boardStartpoint}">
				<label for="endpoint">도착지</label>
				<input type="text" class="form-control" id="endpoint" th:field="*{boardEndpoint}">

			</div>

			<div class="projectView_deadlineDay">
				<label for="time" class="form-label">출발일시</label>
				<input type="datetime-local" class="form-control" id="startTime" th:field="*{boardStarttime}" min="2022-01-01T00:00">
			</div>
			<div class="form-group">
				<label for="content">내용</label>
				<textarea class="form-control" placeholder="글내용을 적어주십시오" id="contents" style="height: 100px" rowa="3"
					th:field="*{boardContents}"></textarea>
			</div>


			<div class="text-align:right">
				<br>
				<a type="button" th:href="@{/board/list}">취소</a>
				<button type="submit">저장</button>
				<a th:href="@{/board/delete(boardNo=${board.boardNo})}">글 삭제</a>
			</div>

		</form>
	</div>
	<!--종료아래로 복붙하세요. -->
	</th:block>
</html>
