<!DOCTYPE html> 
<!-- layout.html -->

<!-- 
layout:decorate="~{layout/layout}"  란?
- 기본 레이아웃을 layout/layout.html 으로 선언
- 버전마다 선언방법이 다름 아래 참조.
- layout:decorate thymeleaf 3.* ver (이거 사용함)
- layout:decorator thymeleaf 2.* ver
 <th:block layout:fragment="content">
- 각 파일 마다, 위 코드 다음부터 작성한 내용들이 default_layout.html 의 content 부분에 위치함
-->
<html lang="ko" 
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout/layout}">
	<head>
        <meta charset="UTF-8"/>
	</head>      
 	<!-- 해당 html페이지에서만 사용할 css, script  -->
 	<th:block layout:fragment="css"></th:block>  
 	<th:block layout:fragment="script"></th:block>
	<th:block layout:fragment="content">

	<!--시작 위로 복붙하세요. -->    
		<div class="container">
			<h2>FindCar게시판</h2>
			<div>총 건수 : <span th:text="${#lists.size(boards)}"></span></div>
			<table class="table">
			  	<thead>
			    	<tr>
		      			<th scope="col">번호</th>
				      	<th scope="col">제목</th>
				      	<th scope="col">출발지</th>
				      	<th scope="col">목적지</th>
				      	<th scope="col">출발시간</th>
				      	<th scope="col">작성자</th>
			    	</tr>
	  			</thead>
		  		<tbody>
		    	<tr th:each="board : ${boards}">
		      		<td th:text="${board.boardNo}">Mark</td>
		     	 	<td><a th:text="${board.boardTitle}" th:href="@{/board/form(boardNo=${board.boardNo})}">Mark</a></td>
			      	<td th:text="${board.boardStartpoint}">Otto</td>
			      	<td th:text="${board.boardEndpoint}">@mdo</td>
			        <td th:text="${board.boardStarttime}">@mdo</td>
		      		<td th:text="${board.memberId}">@mdo</td>
		    	</tr>
			  </tbody>
			</table>
	  		<div class="text-align:right">
    			<a type="button" th:href="@{/board/form}">글올리기</a>
  			</div>
	  	</div>
		<!--종료아래로 복붙하세요. -->	
	</th:block>
</html>
